.placement {
  padding: 6px 20px;
  background-color: #fefefe;
  box-shadow: 0 0 12px 0 #dfe3eb;
  font-size: 13px;
  color: #333;
}

.row {
  margin: 0;
}

.list {
  font-size: 13px;
  color: #73879C;
}

.list-thead {
  text-align: center;
  margin: 0 0 10px;
  padding: 5px 0;
  background: #f3f3f3;
  border: 1px solid #e9e9e9;
  border-bottom-width: 2px;
}

.list-tbody {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 5px;
}

.list-tbody img {
  width: 80%;
}

.btn-del {
  margin-top: 20px;
  background: #fff;
  border: 1px solid #e4393c;
  color: #e4393c;
  border-radius: 2px;
  width: 80px;
  letter-spacing: 2px;
  cursor: pointer;
}

.btn-del:hover {
  background: #e4393c;
  color: #fff;
}

.modal-body button {
  margin: 10px;
}
form>.row {
  margin: 20px 0;
}

form>.row>.col-md-9 {
  padding: 0;
}

form>.row>.col-md-3 {
  padding-left: 0;
  text-align: right;
}

form>.row>span {
  color: #737373;
}

form {
  margin: 54px 0;
}

input {
  width: 80%;
  border: 1px solid #c9c9c9;
  border-radius: 2px;
  margin-top: -2px;
}

input:hover {
	outline-color: #a9a9a9;
}

.btn-info {
  margin-top: 10px;
  padding: 1px;
  width: 80px;
}