<div id="wrapper">
  <div class="row">
    <div class="col-md-2" id="menu">
      <p class="logo">图书商城后台</p>
      <a routerLink="/index" class="home">
        <fa-icon [icon]="['fas', 'home']"></fa-icon> 后台首页
      </a>
      <dl class="fore1">
        <dt>
          <fa-icon [icon]="['fas', 'user']"></fa-icon> 用户管理</dt>
        <dd>
          <a routerLink="/userList">用户列表</a>
        </dd>
      </dl>
      <dl class="fore2">
        <dt>
          <fa-icon [icon]="['fas', 'book-open']"></fa-icon> 书籍管理</dt>
        <dd>
          <a routerLink="/bookList">书籍列表</a>
        </dd>
        <dd>
          <a routerLink="/bookAdd">书籍添加</a>
        </dd>
      </dl>
      <dl class="fore3">
        <dt>
          <fa-icon [icon]="['fas', 'th-list']"></fa-icon> 书籍类别管理</dt>
        <dd>
          <a routerLink="/categoryList">书籍类别列表</a>
        </dd>
      </dl>
      <dl class="fore4">
        <dt>
          <fa-icon [icon]="['fas', 'info-circle']"></fa-icon> 图书详情管理</dt>
        <dd>
          <a routerLink="/detailList">图书详情列表</a>
        </dd>
        <dd>
          <a routerLink="detailAdd">图书详情添加</a>
        </dd>
      </dl>
      <dl class="fore5">
        <dt>
          <fa-icon [icon]="['fas', 'life-ring']"></fa-icon> 商城首页管理</dt>
        <dd>
          <a routerLink="/carouselList">轮播图</a>
        </dd>
      </dl>
    </div>
    <div class="col-md-10" id="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>