<p class="placement">您当前的位置：首页 > 书籍类别管理 > 书籍类别列表</p>
<div class="row list">
  <div class="col-md-6">
    <div class="row list-thead">
      <div class="col-md-2">编号</div>
      <div class="col-md-4">类目</div>
      <div class="col-md-6">操作</div>
    </div>
    <div class="row list-tbody" *ngFor="let categoryItem of categoryList">
      <div class="col-md-2">{{categoryItem.fid}}</div>
      <div class="col-md-4">{{categoryItem.fname}}</div>
      <div class="col-md-6">
        <button class="btn-mondify" (click)="editCategory(categoryItem.fid, categoryItem.fname)">修改</button>
        <button class="btn-del" (click)="openModal(template, categoryItem.fid)">删除</button>
        <ng-template #template>
          <div class="modal-body text-center">
            <p>您确定要删除该类别吗？</p>
            <button type="button" class="btn btn-danger btn-sm" (click)="ok()">确定</button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="cancel()">取消</button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <form>
      <div class="row">
        <label class="col-md-3">类目：</label>
        <div class="col-md-9">
          <input type="text" name="fname" [(ngModel)]="fname" autocomplete="off" #cname />
        </div>
        <label class="col-md-3"></label>
        <span>类目名称不能超过32个字符</span>
      </div>
      <div class="row">
        <label class="col-md-3"></label>
        <button class="btn btn-sm btn-info" (click)="addCategory()">添加</button>
      </div>
    </form>
  </div>
</div>